
<div class="wrapper">

  <div class="background" style="padding-top: 0;">
    <h1 class='' style="font-family: 'Alfa Slab One', cursive;
  font-size: 48px; background: black; padding: 12px 1%; margin-bottom: 8px;">{{data.title}}</h1>
    <div style="min-width: 40%;">
      <img src="{{data.featuredImageUrl}}" style="max-width: 100%;"/>
    </div>
    <section style="max-width: 90%; margin: 0 auto; text-align: left; background: black; font-family: 'Advent Pro', sans-serif; font-size: 18px; padding: 2%;" class="post-content">{{{data.content}}}</section>
  </div>

</div>



<!-- <ul>
  <li>{{data.title}}</a></li>
  <li>{{data.author}}</li>
  <li>{{data.created_at}}</li>
  <li>{{data.featuredImageUrl}}</li>
  <li>{{{data.content}}}</li>
</ul> -->
